node_modules/
.env
.DS_Store
*.log
.vscode/
.idea/
firebase-service-account.json
*firebase*.json

backend/config/serviceAccountKey.json

backup/
*.bak
*.zip


Thumbs.db


npm-debug.log*
yarn-debug.log*
yarn-error.log*


dist/
build/


